.topsellers__skeleton--headshot{
    background-color: lightgray;
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50%;
}

.topsellers__skeleton--title{
    background-color: lightgray;
    width: 90%;
    height: 30px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.topsellers__skeleton--price{
    background-color: lightgray;
    width: 20%;
    height: 30px;
    margin-bottom: 10px;
}